
.ui_slider {
    width: 100%;
    height: 24px;
    position: relative;
}

.output {
    font-size: 16px;
    color: #333;
    text-align: right;
    margin-right: 12px;
}

.ui_slider_track {
    box-sizing: border-box;
    background: #dfdfdf;
    border: 1px solid #666;
    height: 18px;
    width: 100%;
    border-radius: 9px;
    padding: 2px;
}

.ui_slider_button {
    box-sizing: border-box;
    outline: none;
    border: none;
    background-color: #44F;
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    height: 14px;
    font-size: 8px;
    width: 32px;
    border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
    .ui_slider p {
        color: #DDD;
    }
    .ui_slider_track {
        background: #222;
        border: 1px solid #1c1c1c;
    }
}